html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  font-size: 2em;
  color: black;
  text-align: center;
}

#timer {
  font-size: 1em;
  background-color: black;
  color: orange;
  text-align: center;
}

table {
  width: 15rem;
  height: 15rem;
  background-color: darkgreen;
  font-family: monospace;
}

/* Other CSS for the table cells */
td {
  width: 10%;
  height: 10%;
  color: white;
  text-align: center;
}

table td {
  user-select: none;
}

.selected {
  background-color: lightgreen;
}

td.valid {
  background-color: blue;
}

td.invalid {
  background-color: red;
}

#grid.disabled {
  background-color: #888;
  pointer-events: none;
}

