html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}

table {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  height: 100%;
  background-color: darkgreen;
}

td {
  display: block;
  width: 10%;
  height: 10%;
  color: white;
  text-align: center;
}

