html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  font-size: 25px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  font-size: 2em;
  color: black;
  text-align: center;
}

#timer {
  font-size: 1.5em;
  background-color: black;
  color: orange;
  text-align: center;
}

table {
  width: calc(70vh - 20px);
  height: calc(70vh - 20px);
  background-color: darkgreen;
  font-family: monospace;
}

@media (min-height: 2500px) {
  table {
    width: 600px;
    height: 600px;
  }
}

@media (orientation: portrait) {
  table {
    width: calc(100vw - 20px);
    height: calc(100vw - 20px);
  }
  body {
    font-size: calc(25px * 2);
  }
}

/* Other CSS for the table cells */
td {
  width: 10%;
  height: 10%;
  color: white;
  text-align: center;
}

table td {
  user-select: none;
}

.selected {
  background-color: lightgreen;
}

td.valid {
  background-color: blue;
}

td.invalid {
  background-color: red;
}

#grid.disabled {
  background-color: #888;
  pointer-events: none;
}

.red-button {
  background-color: red;
  color: lightgreen;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
}

/* Style the disabled button */
button:disabled {
  background-color: grey;
  cursor: default;
}

